body{
  background:url(g.jpg);
  background-size: cover;
  font-family:sans-serif;
color:white;
      }
      .home{
        text-decoration: none;
        background:#03a9f473;
        color:white;
        padding:20px;
        margin:20px;
      }
      .home:hover{
        background-color:#673ab78c;
      }
.b{
  background-color: #03a9f473;
  width:850px;
  padding:20px;
}
